.base-background {
  background: #033545;
  backdrop-filter: blur(4px);
  background-image: url("assets/bg_light.png");
  background-size: cover;
}

.discover-text {
  background: linear-gradient(#91fee4, #50a2de, #4492d3, #3c87cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.main-card-container {
  height: 500px;
}

.main-card-container-image {
  height: 450px;
}

@media(max-width:768px) {
  .main-card-container {
    height: 350px;
  }

  .main-card-container-image {
    height: 250px;
  }
}